@using Framework.DTO.Products;
@model List<ProductListDto>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ürünler Listesi</h4>
        <div class="row">
            <div class="col-12 table-responsive">
                <table id="order-listing" class="table">
                    <thead>
                        <tr>
                            <th>Ürün Numarası</th>
                            <th>Ürün İsmi</th>
                            <th>Kategori</th>
                            <th>Fiyat</th>
                            <th>Stok</th>
                            <th>İşlem</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.ProductID</td>
                            <td>@product.ProductName</td>
                            <td>@product.CategoryName</td>
                          
                            <td>@product.UnitPrice</td>
                            <td>@product.UnitsInStock</td>
                            <td>
                                <a href="@Url.Action("Delete", "Product",new {id=product.ProductID})">
                                    <button type="button" class="btn btn-danger btn-xs">Kaldır</button>
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Update", "Product", new {id = product.ProductID})">
                                    <button type="button" class="btn btn-primary btn-xs">Düzenle</button>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

