@using System.Collections
@using Framework.DTO.Categories
@model Framework.DTO.Products.ProductDto
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ürün Bilgileri</h4>
            @using (Html.BeginForm("Update", "Product",new {@class = "form-sample"}))
            {
                @Html.HiddenFor(product=> product.ProductID)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Ürün İsmi</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(product => product.ProductName, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Kategori Seçiniz</label>
                            <div class="col-sm-9">
                                @Html.DropDownListFor(product => product.CategoryID, new SelectList((IEnumerable<CategoryDto>) TempData["CategoryList"], "CategoryID", "CategoryName"), new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Tutar</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(product => product.UnitPrice, new {@class = "form-control"})

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Stok</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(product => product.UnitsInStock, new {@class = "form-control"})
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">

                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success">Gönder</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>